/*
Theme Name: Basic User Management Template
Author: Jan Michael Cheng
Author URI: http://trusted-freelancer.com/
Description: Basic User Management Template
Version: 1.0
*/



/*----------------------------------------------------------------------------*/

body
{
	width:1280px;
	margin:0 auto;
}
body.msie
{
	
}
.clearfix
{
	clear:both;
}
.p_texterror_cls
{
	color:red;
	font-size:14px;
}

nav.nav_pagination_cls ul li
{
	display:inline;
	margin:0 2px;
}

table, th, td 
{
   border: 1px solid black;
}

section.sec_siteresponse_cls
{
	padding:10px;
	/*
	*/
	display:none;
}
section.sec_siteresponse_cls div.div_siteresponse_cls
{
	margin:0 0 10px 0;
	/*
	*/
	display:none;
}
section.sec_siteresponse_cls div.div_siteresponse_cls h4
{
}
section.sec_siteresponse_cls div.div_siteresponse_cls p
{
}
section.sec_siteresponse_cls div.div_siteresponse_cls ul
{
	list-style-type: disc;
}
section.sec_siteresponse_cls div.div_siteresponse_cls ul li
{
	margin:0 0 0 20px;
}
section.sec_siteresponse_cls div.div_responseerror_cls
{
	border:1px solid red;
	padding:5px;
	color:red;
	background-color:#ffe3e4;
}
section.sec_siteresponse_cls div.div_responsesuccess_cls
{
	border:1px solid green;
	padding:5px;
	color:green;
	background-color:#e3ffe4;
}
section.sec_siteresponse_cls div.div_responseinfo_cls
{
	border:1px solid blue;
	padding:5px;
	color:blue;
	background-color:#e3f1ff;
}


/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
main section.sec_nav_cls
{
	width:20%;
	padding:5px;
	float:left;
	background-color:#f8f0f8;
}


main section.sec_maincontent_cls
{
	width:80%;
	padding:5px;
	float:right;
	background-color:#f1ffff;
}



/*----------------------------------------------------------------------------*/



